@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

:root {
  --mainPink: #ffc525;
  --mainYellow: rgb(249, 228, 148);
  --mainWhite: #fff;
  --mainOrangeLight: rgb(252, 239, 205);
  --mainOrangeDark: rgb(235, 172, 0);
  --mainBlack: #000;
  --yellowTrans: rgba(0, 0, 0, 0.5);
  --mainGrey: rgb(238, 238, 238);
}

.text-grey {
  color: var(--mainPink);
}
body {
  font-family: "Kaushan Script", cursive;
  background: var(--mainOrangeLight);
  color: var(--mainBlack);
}
.item-text {
  font-family: Comic Sans MS, Comic Sans, cursive;
}
.coupon-text {
  font-family: Comic Sans MS, Comic Sans, cursive;
  color: #00c535 !important;
}
.coupon-text-wrong {
  font-family: Comic Sans MS, Comic Sans, cursive;
  color: #ff0000 !important;
}
.filter-text {
  font-family: Comic Sans MS, Comic Sans, cursive;
  text-align: center;
  margin-top: 1.3%;
  padding-right: 0%;
  font-size:22px;
}
.filter-area {
  text-align: center;
  background-color: #d6d6d6 !important;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
/* nav links */
.navbar-toggler {
  outline: none !important;
}
.toggler-icon {
  font-size: 2.5rem;
  color: var(--mainPink);
}
.nav-link {
  color: var(--mainPink);
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
}
.nav-link:hover {
  color: var(--mainBlack);
}
/* end of nav links */
/* info icons */
.cart-info__icon {
  color: var(--mainBlack);
  cursor: pointer;
}

.cart-info {
  border: 0.1rem solid var(--mainBlack);
  color: var(--mainBlack);
  border-radius: 0.25rem;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
}
.cart-info:hover {
  background: var(--mainPink);
  border-color: var(--mainPink);
  color: var(--mainWhite);
}
.cart-info:hover .cart-info__icon {
  color: var(--mainWhite);
}
/* end of info icons */
/* banner */

.max-height {
  min-height: calc(45vh);
  background: linear-gradient(var(--yellowTrans), var(--yellowTrans)),
    url("../img/background1.jpg") center/cover fixed no-repeat;
  position: relative;
}
.banner {
  color: var(--mainWhite);
  margin-top: 0rem;
}
.banner-title {
  color: var(--mainOrangeDark);
  font-size: 3rem;
}
.banner-title-big {
  color: var(--mainPink);
  font-size: 4rem;
}
.banner-link-white {
  font-size: 1.5rem;
  color: var(--mainWhite);
  border: 0.2rem solid var(--mainWhite);
}
.banner-link-white:hover {
  background: var(--mainBlack);
  color: var(--mainPink);
  border: 0.2rem solid var(--mainPink);
}
.banner-link-yellow {
  font-size: 1.5rem;
  color: var(--mainBlack);
  border: 0.2rem solid var(--mainPink);
  background: var(--mainPink);
  font-weight: 600;
}
.banner-link-yellow:hover {
  background: var(--mainBlack);
  color: var(--mainWhite);
  border: 0.2rem solid var(--mainBlack);
}
.banner-link {
  font-size: 1.5rem;
  color: var(--mainBlack);
  border: 0.2rem solid var(--mainBlack);
}
.banner-link:hover {
  background: var(--mainBlack);
  color: var(--mainPink);
}
/* endo of banner */
/* cart  */
.cart {
  position: fixed;
  min-height: 10rem;
  background: var(--mainWhite);
  top: 100px;
  right: 0;
  transition: all 0.1s linear;
  background: var(--mainOrangeLight);
  width: 0;
  overflow: hidden;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;  
}
.show-cart {
  width: 35%;
  padding: 2rem 1.5rem;
  transform: translateX(0);
  transform-origin:  top;
}
.cart-float{
	position:fixed;
	width:75px;
	height:75px;
	bottom:40px;
	right:40px;
	background-color:rgb(29, 175, 0);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
  opacity: 0.9;
}

.cart-icon{
	margin-top:20px;
  font-size:24px;
  z-index:100;
}

.close-icon {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 32px;
  height: 32px;
  opacity: 1;
  font-size: 45px;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  color: #ff0000 !important;
  transform: rotate(45deg);
}

.cart-item {
  transition: all 0.5s linear;
}

/* end of cart */
/* cart item */
.cart-item-remove {
  color: var(--mainPink);
  transition: all 1s ease-in-out;
}
.cart-item-remove:hover {
  transform: scale(1.1);
  color: var(--mainBlack);
}
#cart-item-price {
  font-size: 1rem;
}
/* cart item */
/* cart buttons */
.btn-pink {
  color: var(--mainBlack) !important;
  border-color: var(--mainPink) !important;
  background: var(--mainPink) !important;
}
.btn-black {
  color: var(--mainBlack) !important;
  border-color: var(--mainBlack) !important;
}
.btn-black:hover {
  color: var(--mainPink) !important;
  background: var(--mainBlack) !important;
}
.btn-pink:hover {
  background: var(--mainBlack) !important;
  color: var(--mainWhite) !important;
}
.btn-red {
  color: #ff0000 !important;
  border-color: #ff0000 !important;
}
.btn-red:hover {
  color: var(--mainWhite) !important;
  background: #ff0000 !important;
}
/* end of cart buttons */

/* about */
.about-img__container {
  position: relative;
}

.about-img__container::before {
  content: "";
  position: absolute;
  top: -1.5rem;
  left: -1.7rem;
  width: 100%;
  height: 100%;
  outline: 0.5rem solid var(--mainYellow);
  z-index: -1;
  transition: all 1s ease-in-out;
}
.about-img__container:hover:before {
  top: 0;
  left: 0;
}

/*end of  about */

/* store items */
.store {
  background: var(--mainGrey);
}
.img-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.store-img {
  transition: all 1s ease-in-out;
}
.img-container:hover .store-img {
  transform: scale(1.2);
}
.store-item-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1.0rem;
  background: var(--mainPink);
  border-top-left-radius: 1rem;
  font-size:24px
}
.store-item-icon .tooltiptext {
  visibility: hidden;
  width: 160px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 105%;
  opacity: 0;
  transition: opacity 1s;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

.store-item-icon:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.img-container:hover .store-item-icon {
  transform: translate(0, 0);
}
.store-item-icon:hover {
  color: var(--mainWhite);
  background: var(--mainBlack);
}
.store-item-value {
  color: --mainYellow;
}
.search-box {
  background: var(--mainWhite);
  color: var(--mainBlack);
}

.btnLeft {
  top: 50%;
  left: 0;
  transform: translateX(-60%);
}
.btnRight {
  top: 50%;
  right: 0;
  transform: translateX(60%);
}

.toast {
  display: flex;
  justify-content: center;
  width: 600px;
  height: 60px;
  background: #d1d1d1;
  border-radius: 10px;
  box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.2);
  overflow: hidden;
  animation: slide-in .5s ease-out forwards;
  position:fixed;
  z-index:100;

}
.toast-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  width: 100%;
  text-align: center;
  flex-wrap: wrap;
  display:flex;
  margin-left: 0px;
  font-family: Tahoma,Arial,"Hiragino Sans GB","simsun",sans-serif;
  font-size: 24px;
}

.text > * {
  margin: 0;
  width: 100%;
}

p:first-child {
  font-weight: bold;
  margin-top: 0px;
}

.message {
  margin-top: 0px;
  font-size:.8em;
  color: #000000;
}

.close {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  user-select: none;
  transform: translate(10px,-5px);
  font-size: 2.5em;
/*   transform: scaleX(1.2); */
  color: #dddddd;
  cursor:pointer;
}

@keyframes toast {
  0% {
    opacity: 1;
  }
  100% {
    transform: translate(0,-10px);
    opacity: 0;
  }
}

.toast-area {
  z-index:0;
  height: 0vh;
  display: flex;
  justify-content: center;
}

.toast-area > * {
  margin-top: 3em;
}

@keyframes slide-in {
  0% {
    transform: translate(0,-10px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#scroll-container {
  border: 0px solid rgb(255, 251, 0);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0px;
  height: 40px;
  padding-top: 7px;
  overflow: hidden;
  background: var(--mainYellow);
}

#scroll-text {
  font-family: Comic Sans MS, Comic Sans, cursive;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: my-animation 30s linear infinite;
  -webkit-animation: my-animation 30s linear infinite;
  animation: my-animation 30s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-50%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-50%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
