@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

:root {
  --mainPink: #ffc525;
  --mainYellow: rgb(249, 228, 148);
  --mainWhite: #fff;
  --mainOrangeLight: rgb(252, 239, 205);
  --mainOrangeDark: rgb(196, 143, 0);
  --mainBlack: #000;
  --yellowTrans: rgba(0, 0, 0, 0.5);
  --mainGrey: rgb(238, 238, 238);
}

body {
  font-family: "Kaushan Script", cursive;
  background: var(--mainOrangeLight);
  color: var(--mainBlack);
}
.item-text {
  font-family: Comic Sans MS, Comic Sans, cursive;
}
.coupon-text {
  font-family: Comic Sans MS, Comic Sans, cursive;
  color: #00c535 !important;
}
/* nav links */
.navbar-toggler {
  outline: none !important;
}
.toggler-icon {
  font-size: 2.5rem;
  color: var(--mainPink);
}
.nav-link {
  color: var(--mainPink);
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
}
.nav-link:hover {
  color: var(--mainBlack);
}
/* end of nav links */
/* info icons */
.cart-info__icon {
  color: var(--mainBlack);
  cursor: pointer;
}

.cart-info {
  border: 0.1rem solid var(--mainBlack);
  color: var(--mainBlack);
  border-radius: 0.25rem;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
}
.cart-info:hover {
  background: var(--mainPink);
  border-color: var(--mainPink);
  color: var(--mainWhite);
}
.cart-info:hover .cart-info__icon {
  color: var(--mainWhite);
}
/* end of info icons */
/* banner */

.max-height {
  min-height: calc(50vh);
  background: linear-gradient(var(--yellowTrans), var(--yellowTrans)),
    url("../img/background1.jpg") center/cover fixed no-repeat;
  position: relative;
}
.banner {
  color: var(--mainWhite);
  margin-top: -4rem;
}
.banner-title {
  color: var(--mainOrangeDark);
  font-size: 3rem;
}
.banner-title-big {
  color: var(--mainPink);
  font-size: 4rem;
}
.banner-link-white {
  font-size: 1.5rem;
  color: var(--mainWhite);
  border: 0.2rem solid var(--mainWhite);
}
.banner-link-white:hover {
  background: var(--mainBlack);
  color: var(--mainPink);
  border: 0.2rem solid var(--mainPink);
}
.banner-link {
  font-size: 1.5rem;
  color: var(--mainBlack);
  border: 0.2rem solid var(--mainBlack);
}
.banner-link:hover {
  background: var(--mainBlack);
  color: var(--mainPink);
}
/* endo of banner */
/* cart  */
.cart {
  position: absolute;
  min-height: 10rem;
  background: var(--mainWhite);
  top: 0;
  right: 0;
  transition: all 0.1s linear;
  background: rgb(255, 255, 255);
  width: 0;
  overflow: hidden;
  z-index: 100;
}
.show-cart {
  width: 35%;
  padding: 2rem 1.5rem;
  transform: translateX(0);
  transform-origin:  top;
}
.cart-item {
  transition: all 0.5s linear;
}

/* end of cart */
/* cart item */
.cart-item-remove {
  color: var(--mainPink);
  transition: all 1s ease-in-out;
}
.cart-item-remove:hover {
  transform: scale(1.1);
  color: var(--mainBlack);
}
#cart-item-price {
  font-size: 1rem;
}
/* cart item */
/* cart buttons */
.btn-pink {
  color: var(--mainPink) !important;
  border-color: var(--mainPink) !important;
}
.btn-black {
  color: var(--mainBlack) !important;
  border-color: var(--mainBlack) !important;
}
.btn-black:hover {
  color: var(--mainPink) !important;
  background: var(--mainBlack) !important;
}
.btn-pink:hover {
  background: var(--mainPink) !important;
  color: var(--mainBlack) !important;
}
/* end of cart buttons */

/* about */
.about-img__container {
  position: relative;
}

.about-img__container::before {
  content: "";
  position: absolute;
  top: -1.5rem;
  left: -1.7rem;
  width: 100%;
  height: 100%;
  outline: 0.5rem solid var(--mainYellow);
  z-index: -1;
  transition: all 1s ease-in-out;
}
.about-img__container:hover:before {
  top: 0;
  left: 0;
}

/*end of  about */

/* store items */
.store {
  background: var(--mainGrey);
}
.img-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.store-img {
  transition: all 1s ease-in-out;
}
.img-container:hover .store-img {
  transform: scale(1.2);
}
.store-item-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1.0rem;
  background: var(--mainPink);
  border-top-left-radius: 1rem;
  font-size:24px
}
.store-item-icon .tooltiptext {
  visibility: hidden;
  width: 160px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 105%;
  opacity: 0;
  transition: opacity 1s;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

.store-item-icon:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}



.img-container:hover .store-item-icon {
  transform: translate(0, 0);
}
.store-item-icon:hover {
  color: var(--mainWhite);
  background: var(--mainBlack);
}
.store-item-value {
  color: --mainYellow;
}
/*end of  store items */
.search-box {
  background: var(--mainPink);
  color: var(--mainBlack);
}

/* ligthbox */

.lightbox-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.6) !important;
  display: none;
}
.show {
  display: block;
}

.lightbox-holder {
  position: relative;
}
.lightbox-item {
  min-height: 80vh;
  background: url("../img/cake-1.jpeg") center/cover fixed no-repeat;
  border-radius: 0.3rem;
}
.lightbox-close {
  color: var(--mainPink);
  font-size: 3rem;
  transition: all 1s ease-in-out;
  cursor: pointer;
}
.lightbox-close:hover {
  color: var(--mainYellow);
}

.lightbox-control {
  position: absolute;
  font-size: 4rem;
  color: var(--mainPink);
  transition: all 1s linear;
  cursor: pointer;
}
.lightbox-control:hover {
  color: var(--mainYellow);
}
.btnLeft {
  top: 50%;
  left: 0;
  transform: translateX(-60%);
}
.btnRight {
  top: 50%;
  right: 0;
  transform: translateX(60%);
}

.toast {
  display: flex;
  justify-content: center;
  width: 600px;
  height: 60px;
  background: #d1d1d1;
  border-radius: 10px;
  box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.2);
  overflow: hidden;
  animation: slide-in .5s ease-out forwards;
  position:fixed;
  z-index:100;

}
.toast-content {
  display: flex;
  align-items: center;
  justify-content: center;
}





.text {
  width: 100%;
  text-align: center;
  flex-wrap: wrap;
  display:flex;
  margin-left: 0px;
  font-family: Tahoma,Arial,"Hiragino Sans GB","simsun",sans-serif;
  font-size: 24px;
}

.text > * {
  margin: 0;
  width: 100%;
}

p:first-child {
  font-weight: bold;
  margin-top: 0px;
}

.message {
  margin-top: 0px;
  font-size:.8em;
  color: #000000;
}

.close {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  user-select: none;
  transform: translate(10px,-5px);
  font-size: 2.5em;
/*   transform: scaleX(1.2); */
  color: #dddddd;
  cursor:pointer;
}

@keyframes toast {
  0% {
    opacity: 1;
  }
  100% {
    transform: translate(0,-10px);
    opacity: 0;
  }
}

.toast-area {
  z-index:0;
  height: 0vh;
  display: flex;
  justify-content: center;
}

.toast-area > * {
  margin-top: 3em;
}


@keyframes slide-in {
  0% {
    transform: translate(0,-10px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
